<div class="container">

    <h2>Product List</h2>
    <div class="form-group">
        <app-productsfilter (ComponentChangedEvent)="CategoryChanged($event)" [AllCount]="AllCount"
            [ElectronicesCount]="ElectronicesCount" [ShoesCount]="ShoesCount" [BooksCount]="BooksCount">

        </app-productsfilter>

    </div>
    <div class="form-group">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Category</th>
                </tr>

            </thead>
            <tbody>
                <ng-container *ngFor="let item of products">

                    <tr *ngIf="SelectedCategoryValue=='All'|| SelectedCategoryValue==item.category">
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.category}}</td>

                    </tr>

                </ng-container>

            </tbody>
        </table>

    </div>

</div>