/* dt{

  font-weight: bold;  
}
div{

width: 300px;
border: 2px solid darkcyan;
padding: 10px;
margin: 10px;
margin-left: 10px;
float: left;
border-radius: 10;

}
select{
    width: fit-content;
    border: 2px solid darkcyan;
    
} */







/* h2{
font-size: larger;
background-color: darkcyan;
color: white;
text-align: center;

}
body{
background-color: darkgray;

}
dt{

    font-weight: bold;
    color: rgb(48, 104, 104);
} */











