<div class="container">
    <fieldset>
        <legend>Verify Your Mobile
            <img [src]="pic" width="30" height="30">
        </legend>
        <div class="form-group">
            <label>Select Country</label>
            <div>
                <select (change)="SelectedCountryChanged(lstCountry.value)" name="lstCountry" #lstCountry="ngModel"
                    ngModel class="form-control">
                    <option value="India">India</option>
                    <option value="US">US</option>
                    <option value="UK">UK</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>Mobile Number</label>
            <div>
                <input placeholder="{{tip}}" type="text" name="txtMobile" #txtMobile="ngModel" ngModel
                    class="form-control" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <button (click)="verifyMobile(txtMobile.value)" class="btn btn-primary">
                Verify Mobile
            </button>
        </div>
    </fieldset>
    <div class="text-center">
        <h2>{{mobileError}}</h2>
        <p>{{tip}}</p>
    </div>
</div>