<div class="container">
<h2>Register Product</h2>
<form #frmRegister="ngForm" (submit)="submitClick(frmRegister.value)">
<div class="form-group">
<label>Name</label>
<div>
    <input name="txtName" required #txtName="ngModel" ngModel type="text" class="form-control">

</div>

</div>
<div class="form-group">
    <label>ShippedTo</label>
    <div>
<select name="shippedTo" #shippedTo="ngModel" ngModel class="form-control">
<option>HYD</option>
<option>Mumbai</option>
<option>BHOPAL</option>

</select>
    </div>
</div>
<button class="btn btn-primary">Submit</button>
</form><br>
Name:{{frmRegister.value.txtName}}<br>
ShippedTo:{{frmRegister.value.shippedTo}}

</div>