<div class="container">
    <div class="addProduct">
        <h2>Add New Product</h2>
        <div class="form-group">
            <label>Name</label>
            <div>
                <input type="text" [(ngModel)]="textName" class="form-control">
            </div>
            <div class="form-group">
                <label>Price</label>
                <div>
                    <input type="text" [(ngModel)]="textPrice" class="form-control" >
                </div>
            </div>
            <div class="form-group">
                <button (click)="AddProduct()" class="btn btn-success">AddProduct</button>

            </div>
        </div>
    </div>
        <div>
            <h2>Product  List</h2>
            <table class="table table-hover">
            <thead>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
            </thead>
            <tr [class.odd]="odd" [class.even]="even" *ngFor="let product of productes;let i=index;let odd=odd;let even=even">
                <td>{{product.Name}}</td>
                <td>{{product.Price}}</td>
                <td><button class="btn btn-danger" (click)="DeleteProduct(i)">Delete</button></td>
            </tr>
            </table>
        </div>
    

</div>