<div class="container">
    <h2>Product Details</h2>
    <div>
        SelectView:
        <select [(ngModel)]="SelectedView" class="form-control">
            <option value="info">Info</option>
            <option value="summary">Summary</option>
            <option value="preview">Preview</option>
        </select>
    </div><br>
    <div class="btn-toolbar">
        <div class="btn-group">
            <button (click)="chooseView($event)" class="btn btn-primary" value="info">ProductInfo</button>
            <button (click)="chooseView($event)" class="btn btn-danger" value="summary">SummaryInfo</button>
            <button (click)="chooseView($event)" class="btn btn-outline-success" value="preview">Preview</button>
        </div>
    </div>
    <div [ngSwitch]="SelectedView">
     <div *ngSwitchCase="'info'" class="card">
         <div class="card-header">
             <h2>{{product.name}}</h2>
         </div>
         <div class="card-body">
             <dl>
                 <dt>
                     Price
                 </dt>
                 <dd>{{product.price}}</dd>
                 <dd>{{product.mfd.toDateString()}}</dd>
             </dl>
         </div>
     </div>
     <div *ngSwitchCase="'summary'" class="card">
         <div class="card-header">
             <h3>Summary</h3>
             <div class="card-body">
                 <p>{{product.description}}</p>
                 <a href="#" class="card-link">more....</a>
             </div>
         </div>
     </div>
     <div *ngSwitchCase="'preview'" class="card">
         <div class="card-header">
             <h2>Preview</h2>
         </div>
         <div class="card-body">
             <img [src]="product.photo" width="200" height="200" class="img-thumbnail">
         </div>
     </div>
     <div *ngSwitchDefault>
         <h2>Please select a view......</h2>
     </div>
    </div>
</div>