<div class="container">
<fieldset>
    <legend>ApplyEffects</legend>
    <dl>
<dt>Fore Color</dt>
<dd>
    <select [(ngModel)]="forecolor">
        <option value="green">Green</option>
        <option value="black">Black</option>
        <option value="red">Red</option>
    </select>
</dd>
<dt>Alignment</dt>
<dd>
    <input [(ngModel)]="alignment" name="align" value="left" type="radio">Left
    <input [(ngModel)]="alignment" name="align" value="right" type="radio">Right
    <input [(ngModel)]="alignment" name="align" value="center" type="radio">Center

</dd>
    </dl>
</fieldset>
<h1 [ngStyle]="applyEffects()">Sample Text</h1>

</div>