<div class="container">
<fieldset>
<legend>Type Effectes Name</legend>
<input type="text" class="form-control" [(ngModel)]="effects" >
</fieldset><br>
<h2 [ngClass]="effects" class="align-content-center">Test your css class here...</h2>
<fieldset>
<legend>Choose Effectes</legend>
<ol>
    <li>
        <input [(ngModel)]="IsTextEffectsSelected" type="checkbox">TextEffectes
    </li>
    <li>
        <input [(ngModel)]="IsBackEffectsSelected" type="checkbox">BackgroundEffectes
    </li>
    <li>
        <input [(ngModel)]="IsBorderEffectsSelected" type="checkbox">BorderEffectes
    </li>
</ol><br>
<h2 [ngClass]="{textEffects:IsTextEffectsSelected,backEffects:IsBackEffectsSelected,'border-Effects':IsBorderEffectsSelected}" class="align-content-center" >choose and test effectes</h2>
</fieldset>
</div>