<div class="container">
    <div class="form-group">
        <label>User Name</label>
        <div>
            <input type="text" class="form-control" formControl="txtName">
            <span class="text-danger" *ngIf="txtName.invalid">Name is required</span>
        </div>
    </div>
    <div class="form-group">
        <label>Your City</label>
        <div>
            <select formControl="lstCities" class="form-control">
                <option>Delhi</option>
                <option>HYD</option>
                <option>Mumbai</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <button (click)="updateName()" class="btn btn-primary">updateName</button>

    </div>

    <div class="form-group">
        Name:{{txtName.value}}
        <br>
        City:{{lstCities.value}}
    </div>
</div>