<div class="container">
    <h2>Register User</h2>
    <div class="form-group">
        <label>UserName</label>
        <div>
            <input (keyup)="verifyUser()" [(ngModel)]="userName" class="form-control" type="text">
            <span>{{msg}}</span>
        </div>
    </div>
    <div class="form-group">
        <label>Password</label>
        <div>
            <input type="password" (keyup)="verifyPassword()" [(ngModel)]="pwd" (keypress)="verifyCaps($event)" class="form-control">
            <span>{{warn}}

            <div>
                <meter min="{{min}}" max="{{max}}" high="{{high}}" low="{{low}}" value="{{val}}"></meter>
                {{pwdStrength}}
            </div>
        </span>
        </div>
    </div>

</div>